@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

body {
  background: $dark;
  height: 100vh;
}

.flexy {
  display: flex;
  flex-flow: row wrap;
}

.smurfy {
  margin: 5px 10px;
  border: 1px solid $info;
  box-shadow: 0px 1px 5px rgba(8, 112, 184, 0.1);
  border-radius: 5%;
  padding: 10px 20px;
}

.name {
  font-size: 1.4rem;
  font-weight: 800;
}

.spacer {
  margin-top: 7px;
}

.button {
  border-radius: 5%;
}
